body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 60px; 
}
.karma-points{
    font-size: 30px;
    font-weight: bold;
}
.info{
    
}
.coursename{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 40px;
}
.subinfo{
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.profname{
    font-size: 20px;
}
.departmentname{
    font-size: 20px;
}
hr{
    background-color: blue;
}
.section-all{
    margin-top: 30px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B9D9EB; 
    border: 2px solid #8FBECF; 
    border-radius: 8px; 
    padding: 15px 20px; 
    margin-bottom: 30px; 
  }

.sectionname {
    font-size: 25px;
    font-weight: bold;
    color: black; 
}


.right {
    display: flex;
    align-items: center; 
    gap: 15px; 
}


.view-btn {
    background-color: #151E3F; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 8px 12px; 
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.purchase-btn {
    background-color: #151E3F; 
    color: white; /*  */
    border: none; /*  */
    border-radius: 5px; /*  */
    padding: 8px 12px; /*  */
    font-size: 14px; /*  */
    cursor: pointer;
    transition: background-color 0.3s ease;
    }


.view-btn:hover {
background-color: #0056b3; /*  */
}

.lockimage {
width: 24px;
height: 24px;
}
