body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 5px;
    padding: 2% 2%;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligns logo to the left and Karma Points to the right */
    margin-bottom: 20px;
}

.logo {
    height: 50px; /* Adjust size as needed */
    margin-right: 10px;
}

.karma {
    display: flex;
    justify-content: space-between;
    align-items: right;
    justify-content: right;
    font-size: 2em;
}


.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e9f4ff; /* Slightly darker blue for the form */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.add-class-text-style {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus {
    border-color: #a0c4ff;
    outline: none;
    box-shadow: 0 0 5px rgba(160, 196, 255, 0.5);
}


.submit-form-btn { 
    padding: 10px 15px; 
    margin-left: 10px;
    font-size: 16px; 
    color: white; 
    background-color: #151e3f; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.submit-form-btn:hover { 
    background-color: #030027; 
}