.body_reviewpage {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}

.container_reviewpage {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.sidebar_reviewpage {
    width: 30%;
    background-color: #ffffff;
    padding: 20px;
    border-right: 2px solid #ccc;
}

.sidebar_reviewpage .logo_reviewpage {
    width: 100px;
    display: block;
    margin: 0 auto 20px;
}

.sidebar_reviewpage h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.sidebar_reviewpage ul {
    list-style: none;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.sidebar_reviewpage ul li {
    margin: 10px 0;
    font-size: 14px;
}

.form-section_reviewpage {
    width: 70%;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.empty-space_reviewpage {
    height: 50px;
}

.karma-indicator_reviewpage {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.form-container_reviewpage {
    background-color: #e7f3ff;
    padding: 10px;
    border-radius: 5px;
}

.form_reviewpage {
    display: flex;
    flex-direction: column;
}

.form_reviewpage label {
    font-size: 14px;
    margin: 10px 0 5px;
}

.form_reviewpage select, .form_reviewpage textarea, .form_reviewpage input[type="file"] {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form_reviewpage textarea {
    resize: none;
}

.checkbox-group_reviewpage {
    display: flex;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}

.checkbox-group_reviewpage input[type="checkbox"] {
    transform: scale(1.2);
}

.button_reviewpage {
    background-color: #151E3F;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    display: block;
}

.button_reviewpage:hover {
    background-color: #030027;
}